@mixin respond($breakpoint) {

    @if $breakpoint == phone-small {
        @media only screen and (max-width: 23.45em) { @content };      // 375px
    }
    @if $breakpoint == phone-med {
        @media only screen and (max-width: 30em) { @content };      // 480px
    }
    @if $breakpoint == phone {
        @media only screen and  (max-width: 37.5em) { @content };      // 600px
    }
    @if $breakpoint == phone-large {
        @media only screen and  (max-width: 46.25em) { @content };      // 740px
    }
    @if $breakpoint == tab-port-small {
        @media only screen and  (max-width: 51.25em) { @content };      // 820px 
    }
    @if $breakpoint == tab-port {
        @media only screen and  (max-width: 56.25em) { @content };       // 900px
    }
    @if $breakpoint == tab-port-med {
        @media only screen and  (max-width: 60.6em) { @content };       // 970px
    }
    @if $breakpoint == tab-port-large {
        @media only screen and  (max-width: 67.20em) { @content };       // 1075px
    }
    @if $breakpoint == tab-land-small {
        @media only screen and  (max-width: 69.35em) { @content };       // 1110px
    }
    @if $breakpoint == tab-land {
        @media only screen and  (max-width: 75em) { @content };      // 1200px
    }
    @if $breakpoint == tab-land-large {
        @media only screen and  (max-width: 80.65em) { @content };      // 1290px
    }
    @if $breakpoint == desktop-small {
        @media only screen and  (max-width: 84.35em) { @content };      // 1350px
    }
    @if $breakpoint == desktop {
        @media only screen and  (max-width: 90.6em) { @content };      // 1450px
    }
    @if $breakpoint == big-desktop {
        @media only screen and  (min-width: 100em) { @content } ;      // 1800px
    }
    @if $breakpoint == bigger-desktop {
        @media only screen and  (min-width: 110em) { @content } ;      // 1800px
    }
}
