
/*--------- COLOURS ---------*/

$pri: #00263B;
$sec: #c58736;
$grey: #bbbbbb;
$grey-dark: rgb(122, 122, 122);
$green: rgb(8, 105, 45);

/*--------- FONTS ---------*/

$f1:'Muli', sans-serif;
$f2:'Noto Sans', sans-serif;

/*--------- SHADOW ---------*/

$shad-small: 0 .4rem 2rem rgba(0, 0, 0, .4);
$shadow: 0 1rem 3.5rem rgba(0, 0, 0, .3);
$shadow-1: 0 1rem 3.5rem rgba(0, 0, 0, .7);

/*--------- BORDER ---------*/

$b: solid $sec 1px;
$b-1: solid $pri 1px;
$b-2: solid #fff 1px;
