
/*--------- COLOURS ---------*/

$pri: #00263B;
$sec: rgb(202, 145, 71);

/*--------- FONTS ---------*/

$f1:'Muli', sans-serif;
$f2:'Noto Sans', sans-serif;

/*--------- SHADOW ---------*/

$shad-small: 0 .4rem 2rem rgba(0, 0, 0, .4);
$shadow: 0 1rem 3.5rem rgba(0, 0, 0, .3);
$shadow-1: 0 1rem 3.5rem rgba(0, 0, 0, .7);

/*--------- BORDER ---------*/

$b: solid $sec 1px;
$b-1: solid $pri 1px;
$b-2: solid #fff 1px;
