
/*--------------- @EZFOOD ----------------*/

.about-home {

    &__title {
        font-size: 3rem;
        margin: 30rem 0 0 0;
        text-align: center;
        color: $sec;

        @include respond(tab-port) {
            margin: 10rem 0 0 0;
         }
    }

    &__secondary-title {
        margin: 1rem 0 1rem 0;
        text-align: center;

        &--underline{
            height: .3rem;
            width: 9rem;
            background-color: $sec;
            margin: 0 auto;
        }
    }

    &__chef {
        width: 40rem;

        @include respond(tab-port) {
            margin: 0 auto;
         }

        @include respond(phone) {
            width: 30rem;
         }
    }

    &__cta-box {
        display: flex;
        margin: 5rem 0 .5rem 0;
        height: 29.8rem;
        background-color: transparent;
        border: 1px solid $pri;
        border-radius: .3rem;
        box-shadow: $shadow;

        @include respond(tab-port-large) {
            height: 35rem;
        }

        @include respond(tab-port) {
            flex-direction: column;
            height: 55rem;
            margin: 3rem auto 3rem auto;
         }
        @include respond(phone) {
            height: 58rem;
         }
    }

    &__cta {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: space-evenly;
        margin: 0 5rem;

        @include respond(tab-port-large) {
            margin: 0 2rem;
        }
    }

    & p {
        width: 100%;

        @include respond(tab-port) {
            margin: 3rem auto;
         }
    }

    &__images {
        display: flex;
        justify-content: space-between;
        margin: 5rem 0;

        @include respond(tab-port) {
            flex-direction: column;
            align-items: center;
         }
        
        &--1 {
            background-image: url(../img/about-img1.jpg);
            background-size: cover;
            background-position: center;
            width: 31.6rem;
            height: 31.6rem;

            @include respond(tab-port) {
                width: 100%;
             }
        }
        
        &--2 {
            background-image: url(../img/about-img2.jpg);
            background-size: cover;
            background-position: right;
            width: 48.2rem;
            height: 31.6rem;


            @include respond(tab-port) {
                width: 100%;
             }
        }

        &--3 {
            background-image: url(../img/about-img3.jpg);
            background-size: cover;
            width: 48.2rem;
            height: 31.6rem;


            @include respond(tab-port) {
                width: 100%;
             }
        }

    }
}