.hero {

    &__container {
        display: flex;
        margin: 0 auto;
        max-width: 90%;
    }

    &__img {
        position: fixed;
        background-image: linear-gradient(to top, rgba(0,0,0, .7), rgba(0,0,0,.1)), url(/img/hero.jpg);
        top: 0;
        height: 100vh;
        width: 100vw;
        background-size: cover;
        background-repeat: no-repeat;
        z-index: -1;
    }
}

.hero-left {
    width: 25rem;
    margin: 8rem 0;

    &__img1 {
        width: 25rem;
        background-image: url(/img/hero-img1.jpg);
        height: 25rem;
        background-repeat: no-repeat;
        background-size: contain;
        margin: 4rem 0 1.6rem 0;
        border-radius: 1rem;
        border: $b;
    }

    &__img2 {
        width: 25rem;
        background-image: url(/img/hero-img2.jpg);
        height: 25rem;
        background-repeat: no-repeat;
        background-size: contain;
        margin-bottom: 4rem;
        border-radius: 1rem;
        border: $b;
    }

    & p {
        color: #fff;
        margin-top: 1rem;
    }
}

.booking-link {
    display: inline-block;
    position: relative;
    padding-bottom: .8rem;

    & a {
        text-decoration: none;
        color: #fff;

        & * {
            display: flex;
            align-items: center;
            margin-right: 1rem;
        }
    }
}

.booking-link:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 0;
    transition: width 0s ease, background .5s;
}
.booking-link:after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    height: 2px;
    width: 0;
    background: $sec;
    transition: width .5s ease;
}
.booking-link:hover:before {
    width: 100%;
    background: $sec;
    transition: width .5s ease;
}
.booking-link:hover:after {
    width: 100%;
    background: transparent;
    transition: all 0s ease;
}

.hero-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 4rem;
    text-align: center;
    color: #fff;
    width: 55rem;
    height: 27rem;
    background-color: $pri;
    box-shadow: $shadow-1;

    &__box {
        margin-bottom: 5rem;
    }

    & p {
        color: $sec;
        margin-bottom: 3rem;
    }
}