.hero {
    display: flex;
    justify-content: center;

    @include respond(tab-port) {
        min-height: 100%;
     }

    &__img {
        position: fixed;
        background-image: linear-gradient(to top, rgba(0,0,0, .7), rgba(0,0,0,.1)), url(../img/hero.jpg);
        top: 0;
        height: 100%;
        width: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        z-index: -1;
        animation: zoom-in 40s ease-in-out;
        overflow: hidden;
    }


    &__container {
        display: flex;
        width: 90%;
        height: 100vh;
        margin: 0 auto;
        align-items: center;
        align-self: flex-start;


    @include respond(phone) {
        flex: 1;
        flex-direction: column;
        width: 95%;
        justify-content: space-evenly;
        align-items: center;
    }
    }
}

.hero-left {
    max-height: 100vh;
    width: 25rem;
    animation: slide-in-left 1.2s ease .8s;
    animation-fill-mode: backwards;

        @include respond(tab-port) {
            display: flex;
            width: 95%;
            flex-direction: column;
        }
    
    &__imgs {

        @include respond(tab-port) {
            display: flex;
            margin-top: 8rem;
         }
 
    }


    &__img1 {

        background-image: url(../img/hero-img1.jpg);
        height: 25rem;
        background-repeat: no-repeat;
        background-size: cover;
        margin: 4rem 0 1.6rem 0;
        border-radius: 1rem;
        border: $b;

        @include respond(tab-port) {
           width: 50%;
           margin: .5rem;
        }
    }

    &__img2 {

        background-image: url(../img/hero-img2.jpg);
        height: 25rem;
        background-repeat: no-repeat;
        background-size: cover;
        margin-bottom: 4rem;
        border-radius: 1rem;
        border: $b;

        @include respond(tab-port) {
            width: 50%;
            margin: .5rem;
         }
    }

    & p {
        color: #fff;
        margin-top: 1rem;

        @include respond(tab-port) {
            width: 100%;
            text-align: center;
         }
    }
}

.booking-link {
    display: inline-block;
    position: relative;
    padding-bottom: .8rem;
    animation: logo .7s ease;

    @include respond(tab-port) {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    & a {
        text-decoration: none;
        color: #fff;

        & * {
            display: flex;
            align-items: center;
            margin-right: 1rem;
        }
    }
}

.booking-link:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 0;
    transition: width 0s ease, background .5s;
}
.booking-link:after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    height: 2px;
    width: 0;
    background: $sec;
    transition: width .5s ease;
}
.booking-link:hover:before {
    width: 100%;
    background: $sec;
    transition: width .5s ease;
}
.booking-link:hover:after {
    width: 100%;
    background: transparent;
    transition: all 0s ease;
}

.hero-box {
    display: flex;
    flex-direction: column;
    padding: 4rem;
    text-align: center;
    color: #fff;
    max-width: 55rem;
    margin: 0 auto;
    height: 27rem;
    background-color: $pri;
    box-shadow: $shadow-1;
    animation: box 1s ease .2s;
    animation-fill-mode: backwards;

    @include respond(tab-port) {
        width: 95%;
        padding: 2rem;
        height: 21rem;
     }

    &__box {
        margin-bottom: 5rem;

        @include respond(tab-port) {
            margin-bottom: 2rem;
         }
    }

    & p {
        color: $sec;
        margin-bottom: 3rem;

        @include respond(tab-port) {
           margin-bottom: 1rem;
         }
    }
}