.menu-header {
    display: flex;
    flex-direction: column;
    min-width: 100%;
    transform: translateY(15rem);
    margin-bottom: 15rem;

    @include respond(tab-port) {
        transform: translateY(11.5rem);
    }

    &__img {
        background-image: url(/img/menu-img-top.jpg);
        background-size: cover;
        background-position: center;
        height: 30rem;


        @include respond(phone) {
            height: 22rem;
        }
    }

    &__box {
        background-color: $sec;
        text-align: center;
        padding: 5rem 20rem;

        @include respond(tab-land) {
            padding: 4rem 5rem;
        }

        @include respond(phone) {
            padding: 2rem;
        }

        & h2 {
            color: white;
            font-size: 2rem;
            margin-bottom: 5rem;

            @include respond(phone) {
                margin-bottom: 2rem;
            }
        }
    }
} 