
.menu-nav {
    display: flex;
    width: 100%;
    height: 8rem;
    top: 8rem;
    z-index: 1;
    background-color: $pri;
    animation: navAppear .5s ease-in;
    margin: 0 auto;


    @include respond(tab-land) {
        background-color: $sec;
        box-shadow: $shadow;
    }

    &__container {
        display: flex;
        background-color: $pri;
        align-items: center;
        margin: 0 auto;

        @include respond(tab-land) {
            background-color: $sec;
        }
    }

    &__list { 
        display: flex;
        margin: 0 auto;
        list-style-type: none;
    }

    &__item {
        font-weight: 600;
    }

    &__link {
        text-decoration: none;
        color: white;
        padding: 2.9rem 5rem;
        transition: all .2s ease;

        @include respond (tab-port-large ) {
            padding: 2.9rem 3rem;
        }

        @include respond(phone) {
            padding: 2.9rem 1rem;
        }

        &:hover,
        &:active {
            color: $sec;
            background-color: white;

            @include respond(tab-land) {
                background-color: $pri;
            }
        }
    }
}
