
/*------------- STARTERS SECTION --------------*/

#startersHeader {
    padding-top: 15.5rem;

    @include respond(tab-port) {
        padding-top: 8rem;
    }
}

.section-header {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 20rem;
    margin-bottom: 3.5rem;
    border-top: solid $grey-dark 2px;

    @include respond(tab-port) {
        margin: 3rem auto;
    }

    &__box {
        display: flex;

        &--img {
            width: 100%;
            height: 20rem;
            background-image: url(../img/starters-header.jpg);
            background-size: cover;

            @include respond(phone) {
                background-position: right;
            }
        }

        &--img-2 {
            width: 100%;
            height: 20rem;
            background-image: url(../img/mains-header.jpg);
            background-size: cover;
            background-position: bottom;

            @include respond(phone) {
                background-position: right;
            }
        }

        &--img-3 {
            width: 100%;
            height: 20rem;
            background-image: url(../img/dessert-header.jpg);
            background-size: cover;
            background-position: center;

            @include respond(phone) {
                background-position: right;
            }
        }
    
        &--box {
            position: absolute;
            display: flex;
            height: 20rem;
            width: 30rem;
            background-color: $sec;
            color: white;
            margin-left: 10rem;
            align-items: center;
            justify-content: center;

            @include respond(tab-port-small) {
                width: 15rem;
                height: 15rem;
                border-radius: 50%;
                margin: 2.5rem 0 0 2.5rem;
                box-shadow: $shadow-1;
                display: flex;
            }
    
            & h1 {
                font-size: 2.7rem;
            }
        }
    }

    &__prg {
        text-align: center;
        width: 70rem;
        margin: 0 auto;
        padding: 2rem 0 5rem 0;

        @include respond(tab-port-small) {
            width: 95%;
            padding: 0;
            margin-bottom: 3rem;
        }
    }
}

/*------------- STARTERS ITEMS --------------*/

.item-row {
    display: flex;
    justify-content: space-between;

    @include respond (tab-port-large ) {
        flex-wrap: wrap;
        align-self: stretch;
    }
}

.item-container {
    display: flex;
    box-shadow: $shad-small;
    margin: 1rem; 

    @include respond (tab-port-large ) {
        margin: 1rem auto;
    }

    @include respond (phone) {
        &:first-of-type {
            margin: 5rem auto;
        }
    }
}

.starter-item {
    display: flex;
    transition: all .2s ease;

    @include respond(phone) {
        flex-direction: column;
    }
    
    &__img {
        background-position: center;
        transition: all .2s ease-in-out;

        @include respond(phone) {
            min-width: 100%;
        }

        &--1 {
            background-image: url(../img/starter-1.jpg);
            width: 20rem;
            height: 20rem;
            background-size: cover;
        }

        &--2 {
            background-image: url(../img/starter-2.jpg);
            width: 20rem;
            height: 20rem;
            background-size: cover;
        }
        
        &--3 {
            background-image: url(../img/starter-3.jpg);
            width: 20rem;
            height: 20rem;
            background-size: cover;
        }

        &--4 {
            background-image: url(../img/starter-4.jpg);
            width: 20rem;
            height: 20rem;
            background-size: cover;
        }

    }



    &__box {
        display: flex;
        flex-direction: column;
        background-color: $pri;
        padding: 2rem 3rem;
        color: white;
        justify-content: space-between;

    @include respond(phone) {
        width: 100%;
        height: 17rem;
        padding: 2rem .5rem;
        text-align: center;
    }

        & p {
            font-size: 1.4rem;
        }

        &--price {
            font-size: 1.8rem;
            color: $sec;
        }
    }
}

/*------------- MAINS SECTION --------------*/

#mainsHeader {
    padding-top: 15.5rem;

    @include respond(tab-port) {
        padding-top: 8rem;
    }
}

.main-item {
    display: flex;
    transition: all .2s ease;

    @include respond(phone) {
        flex-direction: column;
        margin: 0 auto;
    }
    
    &__img {
        background-position: center;
        transition: all .2s ease-in-out;

        @include respond(phone) {
            min-width: 100%;
            height: 100%;
        }

        &--1 {
            background-image: url(../img/main-1.jpg);
            width: 20rem;
            height: 20rem;
            background-size: cover;
        }

        &--2 {
            background-image: url(../img/main-2.jpg);
            width: 20rem;
            height: 20rem;
            background-size: cover;
        }
        
        &--3 {
            background-image: url(../img/main-3.jpg);
            width: 20rem;
            height: 20rem;
            background-size: cover;
        }

        &--4 {
            background-image: url(../img/main-4.jpg);
            width: 20rem;
            height: 20rem;
            background-size: cover;
        }

        &--5 {
            background-image: url(../img/main-5.jpg);
            width: 20rem;
            height: 20rem;
            background-size: cover;
        }

        &--6 {
            background-image: url(../img/main-6.jpg);
            width: 20rem;
            height: 20rem;
            background-size: cover;
        }

        &--7 {
            background-image: url(../img/main-7.jpg);
            width: 20rem;
            height: 20rem;
            background-size: cover;
        }

        &--8 {
            background-image: url(../img/main-8.jpg);
            width: 20rem;
            height: 20rem;
            background-size: cover;
        }

        &--9 {
            background-image: url(../img/main-9.jpg);
            width: 20rem;
            height: 20rem;
            background-size: cover;
        }

        &--10 {
            background-image: url(../img/main-10.jpg);
            width: 20rem;
            height: 20rem;
            background-size: cover;
        }

    }



    &__box {
        display: flex;
        flex-direction: column;
        background-color: $pri;
        padding: 2rem 3rem;
        color: white;
        justify-content: space-between;

        @include respond(phone) {
            width: 100%;
            height: 17rem;
            padding: 2rem .5rem;
            text-align: center;
        }

        & p {
            font-size: 1.4rem;
        }

        &--price {
            font-size: 1.8rem;
            color: $sec;
        }
    }
}

/*------------- DESSERT SECTION --------------*/

#dessertsHeader {
    padding-top: 15.5rem;

    @include respond(tab-port) {
        padding-top: 8rem;
    }
}

.dessert-item {
    display: flex;
    transition: all .2s ease;

    @include respond(phone) {
        flex-direction: column;
        margin: 0 auto;
    }
    
    &__img {
        background-position: center;
        transition: all .2s ease-in-out;

        @include respond(phone) {
            min-width: 100%;
            height: 100%;
        }

        &--1 {
            background-image: url(../img/dessert-1.jpg);
            width: 20rem;
            height: 20rem;
            background-size: cover;
        }

        &--2 {
            background-image: url(../img/dessert-2.jpg);
            width: 20rem;
            height: 20rem;
            background-size: cover;
        }
        
        &--3 {
            background-image: url(../img/dessert-3.jpg);
            width: 20rem;
            height: 20rem;
            background-size: cover;
        }

        &--4 {
            background-image: url(../img/dessert-4.jpg);
            width: 20rem;
            height: 20rem;
            background-size: cover;
        }
    }



    &__box {
        display: flex;
        flex-direction: column;
        background-color: $pri;
        padding: 2rem 3rem;
        color: white;
        justify-content: space-between;

        @include respond(phone) {
            width: 100%;
            height: 17rem;
            padding: 2rem .5rem;
            text-align: center;
        }

        & p {
            font-size: 1.4rem;
        }

        &--price {
            font-size: 1.8rem;
            color: $sec;
        }
    }
}