.quick-look {
    min-height: 100%;
    text-align: center;
    margin: 20rem 0;

    @include respond(tab-port) {
        margin: 8rem 0;
     }

    & p {
        padding: 2rem;
        width: 90%;
        margin: 0 auto;
    }
}