.btn {
    padding: .9rem 3rem;
    background-color: transparent;
    border: $b;
    border-radius: 3px;
    color: $sec;
    text-decoration: none;
    transition: all .2s ease;
    cursor: pointer;

    &:hover {
        border: $b-2; 
        color: #fff;
        transition: all .2s ease;
    }

    &--form {
        display: flex;
        color: white;
        width: 70%;
        font-weight: 600;
        font-size: 1.4rem;
        justify-content: center;
        margin: 0 auto;
        background-color: $green;
        border-color: darken($green, 8);

        &:hover {
            background-color: lighten($green, $amount: 8);
            border-color: darken($green, 8);
        }
    }
}

.btn-img {    
    width: 1.5rem;
}

.about-btn {
    border-color: $sec;
    background-color: $sec;
    color: white;
    font-weight: 600;

    @include respond(tab-port) {
        margin-bottom: 10rem;
     }

    &:hover {
        background-color: $pri;
        color: #fff;
        border: solid 1px transparent;
    }
}

.btn-hero {
    width: 15rem;
    margin: 0 auto;
}


