.btn {
    padding: .9rem 3rem;
    background-color: transparent;
    border: $b;
    border-radius: 3px;
    color: $sec;
    text-decoration: none;
    transition: all .2s ease;

    &:hover {
        border: $b-2; 
        color: #fff;
        transition: all .2s ease;
    }
}

.btn-img {    
    width: 1.5rem;
}

.about-btn {
    border-color: $sec;

    @include respond(tab-port) {
        margin-bottom: 10rem;
     }

    &:hover {
        background-color: $pri;
        color: #fff;
        border: solid 1px transparent;
    }
}
