.menu-items {
    margin: 10rem auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include respond(tab-port) {
        flex-direction: column;
     }
}

.item-card {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    transition: transform .2s ease;

    &:hover {
        transform: translateY(-8%) scale(1.1);
    }

    &__img {
        max-width: 100%;

        @include respond(tab-port) {
            max-width: 50%;
            margin: 2rem auto;
         }
    }

    &__desc-box {
        background-color: $pri;
        padding: 1.5rem;


        &--heading {
            color: $sec;
            width: 80%;
            margin: 0 auto;
        }

        & p {
            color: #fff;
            width: 100%;
            font-size: 1.4rem;
        }
    }
}