#main {
    position: absolute;
    top: 90vh;
    background: #fff;
    background-image: url(../img/bg-img.svg);
    background-position: top;
    min-height: 100%;
    max-width: 100%;
    clip-path: polygon(0 10vh, 100% 0, 100% 100%, 0 100%);
}

.main-container {
    width: 68%;
    margin: 0 auto;
}