#main-menu {
    position: relative;
    background: #fff;
    background-image: url(/img/bg-img.svg);
    background-position: top;
    max-width: 100vw;
}

.menu-container {
        display: flex;
        flex-direction: column;
        width: 68%;
        margin: 0 auto; 
        min-height: 100vh;
}
